*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
    background: url(images/istockphoto-1294603953-612x612.jpg);
    background-size: cover; 
    background-position: center center;
    position: relative;
    /* background-color: #373c56; */
    /* box-sizing: border-box; */
}

.intro{
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    /* background-color: #f55c45; */
}

.intro ul{
    width: 50vw;
    float: left;
    color: #fff;
    padding: 25px;
    margin: 15px 1px;
    align-items: center;
    align-content: center;
    list-style-type: none;
}

.intro ul h1{
    margin: 12px 1px;
}

.intro ul h2{
    margin: 1px 1px;
}

.intro ul li{
    margin: 15px 26px;
}

.img{
    /* margin-left: 20px; */
    width: 45vw;
    float: right;
    margin-top: 46px;
    margin-right: 0px;
}

.img img{
    /* border-radius: 20px; */
    width: 250px;
    clip-path: circle(50%);
    margin-left: 190px;
    /* height: 270px; */
}

.intro ul li a{
    background-color: blanchedalmond;
    border-style: solid;
    color: #333;
    border-radius: 15px;
    border-color: #fff;
}

.icons {
    padding: 0;
    width: 37vw;
    margin-right: 0px;
    margin-top: 36px;
    height: 20vh;
    float: right;
}

.icons a{
    height: 100px;
    width: 100px;
    background-color: #f5f6fa;
    border-radius: 50px;
    text-align: center;
    line-height: 100px;
    margin: 35px;
    /* box-shadow: 1px 4px 2px 2px #dcdde1; */
    /* margin: 35px; */
    padding-top: 27px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    /* background-color: #e39d9d; */
    /* border-radius: 20px; */
    /* height: 265px; */
    /* width: 265px; */
    /* border-style: solid; */
    /* background-color: aliceblue; */
    /* border-radius: 50px; */
    /* text-align: center; */

}

.icons a:hover i{
    transform: scale(1.4);
}

.icons a i{
    transition: all 0.3s linear;
}

.fa-youtube{
    color: #e84118;
}

.fa-linkedin{
    color: #0097e6;
}
.fa-github{
    color: black;
}

button{
    padding: 16px;
    border-radius: 25px;
    margin-left: 450px;
    background-color: rgb(167, 243, 174);
}

button:hover{
    background-color: rgb(111, 248, 111);
}

button a{
    color: black;
    font-weight: 600;
}

button a:hover{
    text-decoration: underline;
}
